<% provide(:title, "Home") %>
    <div  style="width: 700px;height: 800px;">
            <div style="position:relative; top:0px; left:0px;">
                <img alt="Koubai" height="827" src="(<%= asset_path "koubai.png" %>) width="1169"/>
            </div>
            <div style="position:relative; top:-517px; left:141px;">
                <a href="drink"><img alt="Drink" height="517" src="/assets/drink.png" width="169"/></a>
            </div>
            <div style="position:relative; top:-920px; left:490px;">
                <a href="pan"><img alt="Pan" height="150" src="/assets/pan.png" width="226"/></a>
            </div>
            <div style="position:relative; top:-1070px; left:729px;">
                <a href="bentou"><img alt="Bentou" height="146" src="https://www.dropbox.com/s/teyuz8tlfbu9yvl/bentou.png?dl=0" width="207"/></a>
            </div>
            <div style="position:relative; top:-1375px; left:563px;">
                <a href="men"><img alt="Men" height="45" src="/assets/men.png" width="237" /></a>
            </div>
    </div>