<% if @product.errors.any? %>
  <div id="error_explanation">     <!-- cssのerror_explanationを適用 -->
    <div class="alert alert-danger">
      The form contains <%= pluralize(@product.errors.count, "error") %>.
    </div>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>     <!-- 全てのエラーメッセージを出力 -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>