@import "bootstrap-sprockets";
@import "bootstrap";

/* constants */

$white: #fff;
$light-gray: #777;

/* mix in */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 160px;
}

section {
  overflow: auto;
}

textarea {   
  resize: vertical;      /*ユーザーに要素の高さのリサイズ機能を提供する*/
}

.center {    /*centerクラスに属する物に反映する*/
  text-align: center;    /*テキストを中央添えにする*/
}

.center h1 {    /*ヘッダー1に反映する*/
  margin-bottom: 10px;    /*ヘッダーの下を何ピクセル幅を空けるか指定する*/
}

/* typography */

h1, h2, h3, h4, h5, h6 {    /*ヘッダー1~6に反映*/
  line-height: 1;    /*フォントサイズ*1を行間として指定する*/
}

h1 {
  font-size: 3em;    /* 3*現在のフォントサイズ*/
  letter-spacing: -2px;  /*スペースの間隔をマイナスにすることで間隔をなくすことができる*/
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;  /*フォントの太さ指定*/
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {    /* #をつけることでCSS idとなり、ここは一度しか使われなくなる*/
  float: left;  /*この要素を左に寄せる*/
  font-size: 4.0em;
  color: $white;  /*fffはhtmlのカラーコードで白*/
  text-transform: none;  /*テキストの大文字小文字を変化させる*/
  letter-spacing: -1px;
  padding-top: 1px;  /*領域の上側に空間を作る*/
  font-weight: bold;
}

#logo:hover {  /*  :hoverをつけることでマウスポインタを置いたときだけに適用することができる*/
  color: $white;
  text-decoration: underline;  /*テキストのデコレーション*/
}

header ul li {
  margin-top: 17px;
  float: right;
  margin-right: 0px;
  font-size: 2.0em;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;  /* スタイル、太さ、色をまとめて設定できる*/
  color: $light-gray;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

  /* Questionnaire */
  
table.attributes {
  border-collapse: collapse;
  margin: 5px auto;
  width: 500px ;
}

table.attributes td, table.attributes th {
  border: 1px solid #000;
  padding: 2px;
}

table.attributes th {
  width: 100px;
  text-align: right;
  background-color: #cc4;
}

